@import "./_vars";

// modes
@mixin mode_flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// Media queries
@mixin from($size) {
  @media (max-width: $size) {
    @content;
  }
}
